.constructor {
  max-width: 600px;
}

.ingredients {
  min-height: calc(100vh - 340px);
}

.unlockedItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 548px);
  overflow-y: scroll;
}
