.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 720px;
  padding: 40px;
  border-radius: 40px;
  border: 1px solid var(--interface-modal-edge, rgba(76, 76, 255, 0.2));
  background: var(--interface-modal-bg, #1c1c21);
}

.closeIcon {
  position: absolute;
  top: 50px;
  right: 40px;
}
