.card {
  border-radius: 40px;
  background-color: #1c1c21;
}

.cardTop {
  display: flex;
  justify-content: space-between;
}

.cardMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.ingredients {
  display: flex;
  padding-left: 15px;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  margin-left: -15px;
  background-color: #131316;
  border-radius: 50%;
  border: 2px solid #801ab2;
}

.ingredient img {
  max-width: 100%;
  max-height: 80%;
}

.price {
  display: flex;
  gap: 5px;
}
