.header {
  position: relative;
  background: #1c1c21;
  max-width: 1920px;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

.leftHeader {
  display: flex;
}

.headerButton {
  display: flex;
  align-items: center;
}

.text_color_inactive {
  color: white !important;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1060px) {
  .leftHeader {
    flex-direction: column;
  }

  .headerButton {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
